<!-- This file inherits from the layout file-->
<link rel="stylesheet" href="../static/main.css">



<div class="title">
<h1 class="title2"> Welcome to the webpage! </h1>

</div>

{% extends "layout.html" %} {% block content %}
<!-- add your code here that replaces the code block in layout.html-->
<img src="../static/img.jpg" alt="people" width="50%" class="center"/>



<div class="wrapper">
    <a class="waves-effect waves-light btn-large" href='/login'><i class="material-icons right">trending_flat</i>Login</a>
    <a class="waves-effect waves-light btn-large" href='/signup'><i class="material-icons right">trending_flat</i>Sign up</a>
</div>


{% endblock content %}

